<style>
   /* CSS code to modify the table placeholder size */
   input[type="text"], textarea {
     width: 300px; /* Adjust the width to your desired size */
     height: px; /* Adjust the height to your desired size */
     box-sizing: border-box; /* Include padding and border in the total width/height */
   }
 </style>
<body>
   <table style="width: 75%">
      <tr style="width:100%">
         <th><input type="text" name="" placeholder="Applicant name"/></th>
         <th><input type="text" name=""  placeholder="Applicant phone no" /></th>
         <th><input type="text" name=""  placeholder="Applicant id no"/></th>
      </tr>
      <tr>
         <td><input type="text" name="" placeholder="Applicant Adress"/></td>
         <td><input type="text" name="" placeholder="Applicant Gender"/></td>
         

         <td><input type="text" name="" placeholder="Applicant age"/></td>
      </tr>
      <tr>
         <td><input type="text" name="" placeholder="Applicant Email"/></td>
         
         
      </tr>
   </table>
</body>

<body>
   <table style="width: 75%">
      <tr style="width:100%">
         <th><input type="text" name="" placeholder="Applicant name"/></th>
         <th><input type="text" name=""  placeholder="Applicant phone no" /></th>
         <th><input type="text" name=""  placeholder="Applicant id no"/></th>
      </tr>
      <tr>
         <td><input type="text" name="" placeholder="Applicant Adress"/></td>
         <td><input type="text" name="" placeholder="Applicant Gender"/></td>
         <td><input type="text" name="" placeholder="Applicant age"/></td>
      </tr>
      <tr>
         <td><input type="text" name="" placeholder="Applicant Email"/></td>
         
         
      </tr>
   </table>
</body>

<body>
   <table style="width: 75%">
      <tr style="width:100%">
         <th><input type="text" name="" placeholder="Applicant name"/></th>
         <th><input type="text" name=""  placeholder="Applicant phone no" /></th>
         <th><input type="text" name=""  placeholder="Applicant id no"/></th>
      </tr>
      <tr>
         <td><input type="text" name="" placeholder="Applicant Adress"/></td>
         <td><input type="text" name="" placeholder="Applicant Gender"/></td>
         <td><input type="text" name="" placeholder="Applicant age"/></td>
      </tr>
      <tr>
         <td><input type="text" name="" placeholder="Applicant Email"/></td>
         
         
      </tr>
   </table>
</body>

